# Ignore everything by default, and then provide exceptions for the files we do want to
# keep track of. This helps accidentally adding files to source control and keeps the
# .gitignore file more readable.

# Ignore everything
**/*

# But don't ignore directories
!**/

# We never want to ignore other .gitignore files, and the directories they reside in
!**/.gitignore

# Root folder files
!/.pre-commit-config.yaml
!/LICENSE
!/Makefile
!/mkdocs.yml
!/pyproject.toml
!/README.md
!/template.env
!/uv.lock

# Any python file in a source folder
!/**/src/**/*.py
!/tests/**/*.py

# Documentation
!/docs/**/*.md
